
.portfolio-section {
    background: #4b833c;
    color: #23233a;
    padding: 16px 24px;
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 1.1rem;
    box-shadow: 0 2px 8px #0003;
    text-align: center;
    font-weight: bold;
}

.nombre-section {
    background: #6c3483;
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 2rem;
    border-radius: 12px;
    margin-bottom: 18px;
    box-shadow: 0 2px 12px #0005;
}

.examen-section {
    background: #23233a;
    color: #39ff14;
    padding: 16px 24px;
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 1.1rem;
    box-shadow: 0 2px 8px #0003;
}

.container-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: table;
}

*{
    padding: 0;
    margin: 0;
    color: aquamarine;
    text-align: center;
}

html,body{
    background-color: blueviolet;
}

.main-container{
    border: 7px solid #FF88AA;
    border-radius: 50px;
    margin: 2rem;
    background-color: rgb(98,32,218);

}

nav, section, footer, aside, article{
    border: 4px solid rgb(133,67,167);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: justify;
}

article, aside{
    width: 20%;
    display: inline-flex;
    height: 300px;
}

nav, footer, section{
    background-color: darkgray;
}