h1, h2, h3 {
    color: #A976C3;
}

/* Borde para cada apartado del CV */
.cv-section {
    border: 3px solid #39ff14;
    border-radius: 14px;
    margin: 18px 0;
    padding: 18px 24px;
    background: #2d1836;
    box-shadow: 0 2px 12px #0005;
}
*{
    background-color: #5f2A62;
    font-family: 20px;
} 
header {
    background: #A976C3;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

body {
    background-color: #593a69; 
    font-family: Arial, Helvetica, sans-serif;
    color: #466b5a;
    line-height: 1.6;
}
 
h1, h2, h3 {
    color: #A976C3;
}